.login-section {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				border-radius: 12px;
				gap: 1rem;
				font-size: 1.2em;
				color: rgba(255, 255, 255, 0.8);
}

.login-section > p > a {
				color: rgba(100, 200, 100, 0.9);
				text-decoration: none;
}

.login-form {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				padding: 2em;
				border: 1px solid black;
				border-radius: 6px;
				gap: 1rem;
				font-size: 1.2em;
				background-color: rgba(100, 120, 120, 0.2);
}

.login-form > div {
				display: flex;
				flex-direction: column;
}

.login-form > div > label {
				align-self: start;
}

.login-form > div > input {
				font-size: 1.2em;
				border-radius: 6px;
				padding: 0 0.2em;
}

.login-form > button {
				font-size: 1.2em;
				background-color: rgba(0, 200, 0, 0.9);
				color: white;
				border-radius: 5px;
				padding: 0.2em 3em;
}

