# PostgreSQL connection string (local or hosted)
DATABASE_URL=postgresql://user:password@localhost:5432/your_db

# Your jwt secret for authentication
JWT_SECRET=your_secret_key

# Your supabase details from your project settings
SUPABASE_URL=your_supabase_url
SUPABASE_KEY=your_supabase_secret_key
