.message-card {
	display: flex;
	padding: .2em .5em;
	gap: .5em;
	background-color: rgba(0, 0, 0, 0.8);
	width: max-content;
	font-size: 1.2em;
	border-radius: 12px;
	color: white;
}

.received {
	align-self: end;
}
