.body {
	display: flex;
	flex-direction: column;
	gap: .6em;
	max-height: 50rem;
	padding: .5em;
}

.header {
	display: flex;
	align-items: center;
	padding: .2em 1em;
	border-bottom: 1px solid black;
	gap: .5em;
}

.header > div > div > img {
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	object-fit: cover;
}

.messages {
	display: flex;
	flex-direction: column-reverse;
	gap: 1rem;
	overflow: auto;
	padding: 0 1em;
	flex: 1 1 auto;
}

.form {
	display: flex;	
	font-size: 1.2rem;
	gap: .2em;
}

.form > input {
	width: 100%;
	padding: .5em 1em;
	border: none;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 12px;
	color: white;
	font-size: 1em;
}

.form > input:focus {
	outline: none;
}

.form > button {
	color: white;
	border-radius: 12px;
	font-size: 1em;
	padding: .2em .5em;
	background-color: rgba(0, 0, 0, 0.2);
	border: none;
	cursor: pointer;
}
