.body {
	display: flex;
	flex-direction: column;
	gap: .6em;
	max-height: 50rem;
	padding: .5em;
}

.header {
	display: flex;
	align-items: center;
	padding: .2em 1em;
	border-bottom: 1px solid black;
}

.messages {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	overflow: scroll;
	padding: 0 1em;
}

.form {
	display: flex;	
	font-size: 1.2rem;
	gap: .2em;
}

.form > input {
	width: 100%;
	padding: .5em 1em;
	border: none;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 12px;
	color: white;
	font-size: 1em;
}

.form > input:focus {
	border: none;
}

.form > button {
	color: white;
	border-radius: 12px;
	font-size: 1em;
	padding: .2em .5em;
	background-color: rgba(0, 0, 0, 0.2);
	border: none;
}
