.heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .2em 1em;
	border-bottom: 1px solid white;
	max-width: 25rem;
	border: none;
	border-radius: 20px;
	box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.2);
	background: rgba(0, 0, 0, 0.3);
	gap: 10rem;
	align-self: center;
}

.heading > a, .nav > a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.69);
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.image > div > div > img{
	object-fit: cover;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
}

