.users-list {
				display: flex;
				flex-direction: column;
				gap: 1.2em;
				border-right: 1px solid white;
				align-items: center;
				padding: 2em 0;
}

.user-card > a {
				color: white;
				text-decoration: none;
				text-transform: capitalize;
}
